= f.fields_for :notice_fingerprinter do |g|
  .checkbox.form-group
    %label
      = g.check_box :error_class
      = t('.error_class')

  .checkbox.form-group
    %label
      = g.check_box :message
      = t('.error_message')

  %div.form-group
    = g.label :backtrace_lines, t('.number_of_backtrace_lines')
    = g.text_field :backtrace_lines, class: 'form-control'

  .checkbox.form-group
    %label
      = g.check_box :component
      = t('.component_or_controller')

  .checkbox.form-group
    %label
      = g.check_box :action
      = t('.action')

  .checkbox.form-group
    %label
      = g.check_box :environment_name
      = t('.environment_name')
